In [102]:
import pandas as pd
import numpy as np

In [5]:
iris=pd.read_csv("datasets/iris.data")
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [8]:
iris.head(3)
print(iris.dtypes)

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [9]:
iris.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [10]:
iris.columns=['sl','sw','pl','pw','flower_type']

In [11]:
print(iris.dtypes)

sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

to print certainn number of rows

In [12]:
iris.head(23)

     sl   sw   pl   pw  flower_type
0   4.9  3.0  1.4  0.2  Iris-setosa
1   4.7  3.2  1.3  0.2  Iris-setosa
2   4.6  3.1  1.5  0.2  Iris-setosa
3   5.0  3.6  1.4  0.2  Iris-setosa
4   5.4  3.9  1.7  0.4  Iris-setosa
5   4.6  3.4  1.4  0.3  Iris-setosa
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa
20  5.1  3.7  1.5  0.4  Iris-setosa
21  4.6  3.6  1.0  0.2  Iris-setosa
22  5.1  3.3  1.7  0.5  Iris-setosa

describes about the data

In [13]:
iris.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

we can directly access our columns

In [14]:
iris.sl #iris["sl"]

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

check if there are null values and count them column wise

In [16]:
#iris.isnull()
iris.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

to access a certain block of data in middle of dataset

In [17]:
iris.iloc[1:4,2:3]

    pl
1  1.3
2  1.5
3  1.4

In [18]:
#df=iris #changes to df changes iris
df=iris.copy() #changes to df has no affect on iris

In [28]:
df.drop(0) #drops one column but df not affected
df.drop(0,inplace=True) #df is also changed but indexing is still intact 0 index is removed index based

In [25]:
df.index

RangeIndex(start=0, stop=149, step=1)

In [29]:
df.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [30]:
df.index[3] #gives label based on position

4

In [31]:
df.drop(df.index[3],inplace=True) #remove single row value based on position

In [32]:
df.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa

In [33]:
df.drop(df.index[[1,4]],inplace=True) #remove multiple row values based on position
df.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa

zero based indexing, rows with index 1 and 4 are removed

In [35]:
df.sl>5
df[df.sl>5] #creating boolean array logic

      sl   sw   pl   pw     flower_type
9    5.4  3.7  1.5  0.2     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[116 rows x 5 columns]

In [40]:
df[df.flower_type=='Iris-setosa'].head(5)

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa

In [43]:
df.iloc[2] #iloc=just position

sl                     4.6
sw                     3.4
pl                     1.4
pw                     0.3
flower_type    Iris-setosa
Name: 5, dtype: object

In [44]:
df.loc[5] #based on label/index

sl                     4.6
sw                     3.4
pl                     1.4
pw                     0.3
flower_type    Iris-setosa
Name: 5, dtype: object

adding data

In [45]:
df.loc[148]=[1,2,3,4,"Iris_setosa"]
df.tail()

      sl   sw   pl   pw     flower_type
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  1.0  2.0  3.0  4.0     Iris_setosa

In [55]:
df["flower_type"].value_counts()

Iris-versicolor    50
Iris-virginica     49
Iris-setosa        45
Iris_setosa         1
Name: flower_type, dtype: int64

Find and print count of each kind of flower (separated by space)?
Note: Get the dataset from here
Print the count as Integer Value.
Output Format

In [ ]:
df["flower_type"].value_counts()

Find the data of flower "Iris-virginica" type where petal-length > 1.5?
Note: Get the dataset from here
Print the all the feature values.
Output Format

In [72]:
df=df[df["flower_type"]=='Iris-virginica']
df=df[df.pl>2.0]
df.values

array([[6.3, 3.3, 6.0, 2.5, 'Iris-virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Iris-virginica'],
       [7.1, 3.0, 5.9, 2.1, 'Iris-virginica'],
       [6.3, 2.9, 5.6, 1.8, 'Iris-virginica'],
       [6.5, 3.0, 5.8, 2.2, 'Iris-virginica'],
       [7.6, 3.0, 6.6, 2.1, 'Iris-virginica'],
       [4.9, 2.5, 4.5, 1.7, 'Iris-virginica'],
       [7.3, 2.9, 6.3, 1.8, 'Iris-virginica'],
       [6.7, 2.5, 5.8, 1.8, 'Iris-virginica'],
       [7.2, 3.6, 6.1, 2.5, 'Iris-virginica'],
       [6.5, 3.2, 5.1, 2.0, 'Iris-virginica'],
       [6.4, 2.7, 5.3, 1.9, 'Iris-virginica'],
       [6.8, 3.0, 5.5, 2.1, 'Iris-virginica'],
       [5.7, 2.5, 5.0, 2.0, 'Iris-virginica'],
       [5.8, 2.8, 5.1, 2.4, 'Iris-virginica'],
       [6.4, 3.2, 5.3, 2.3, 'Iris-virginica'],
       [6.5, 3.0, 5.5, 1.8, 'Iris-virginica'],
       [7.7, 3.8, 6.7, 2.2, 'Iris-virginica'],
       [7.7, 2.6, 6.9, 2.3, 'Iris-virginica'],
       [6.0, 2.2, 5.0, 1.5, 'Iris-virginica'],
       [6.9, 3.2, 5.7, 2.3, 'Iris-virginica'],
       [5.6, 2.8, 4.9, 2.0, 'Iris-virginica'],
       [7.7, 2.8, 6.7, 2.0, 'Iris-virginica'],
       [6.3, 2.7, 4.9, 1.8, 'Iris-virginica'],
       [6.7, 3.3, 5.7, 2.1, 'Iris-virginica'],
       [7.2, 3.2, 6.0, 1.8, 'Iris-virginica'],
       [6.2, 2.8, 4.8, 1.8, 'Iris-virginica'],
       [6.1, 3.0, 4.9, 1.8, 'Iris-virginica'],
       [6.4, 2.8, 5.6, 2.1, 'Iris-virginica'],
       [7.2, 3.0, 5.8, 1.6, 'Iris-virginica'],
       [7.4, 2.8, 6.1, 1.9, 'Iris-virginica'],
       [7.9, 3.8, 6.4, 2.0, 'Iris-virginica'],
       [6.4, 2.8, 5.6, 2.2, 'Iris-virginica'],
       [6.3, 2.8, 5.1, 1.5, 'Iris-virginica'],
       [6.1, 2.6, 5.6, 1.4, 'Iris-virginica'],
       [7.7, 3.0, 6.1, 2.3, 'Iris-virginica'],
       [6.3, 3.4, 5.6, 2.4, 'Iris-virginica'],
       [6.4, 3.1, 5.5, 1.8, 'Iris-virginica'],
       [6.0, 3.0, 4.8, 1.8, 'Iris-virginica'],
       [6.9, 3.1, 5.4, 2.1, 'Iris-virginica'],
       [6.7, 3.1, 5.6, 2.4, 'Iris-virginica'],
       [6.9, 3.1, 5.1, 2.3, 'Iris-virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Iris-virginica'],
       [6.8, 3.2, 5.9, 2.3, 'Iris-virginica'],
       [6.7, 3.3, 5.7, 2.5, 'Iris-virginica'],
       [6.7, 3.0, 5.2, 2.3, 'Iris-virginica'],
       [6.3, 2.5, 5.0, 1.9, 'Iris-virginica'],
       [6.5, 3.0, 5.2, 2.0, 'Iris-virginica'],
       [6.2, 3.4, 5.4, 2.3, 'Iris-virginica']], dtype=object)

Find and print the minimum, maximum and average value of the feature for each kind of flower?
Note: Get the dataset from here
Print the value with two decimal places.
Note: Order for flower is Iris-setosa, Iris-versicolor and Iris-virginica.
Output Format

In [79]:
iris.head(5)

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [83]:
import pandas as pd
#columns = ['sl','sw','pl','pw','flower_type']
#iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=columns)

c = iris[iris.flower_type=='Iris-setosa']
print('%.2f'%min(c['sl']),'%.2f'%min(c['sw']),'%.2f'%min(c['pl']),'%.2f'%min(c['pw']),c.iloc[0,4])
print('%.2f'%max(c['sl']),'%.2f'%max(c['sw']),'%.2f'%max(c['pl']),'%.2f'%max(c['pw']),c.iloc[0,4])
print('%.2f'%(c['sl'].mean()),'%.2f'%(c['sw'].mean()),'%.2f'%(c['pl'].mean()),'%.2f'%(c['pw'].mean()),c.iloc[0,4])

c1 = iris[iris.flower_type=='Iris-versicolor']
print('%.2f'%min(c1['sl']),'%.2f'%min(c1['sw']),'%.2f'%min(c1['pl']),'%.2f'%min(c1['pw']),c1.iloc[0,4])
print('%.2f'%max(c1['sl']),'%.2f'%max(c1['sw']),'%.2f'%max(c1['pl']),'%.2f'%max(c1['pw']),c1.iloc[0,4])
print('%.2f'%(c1['sl'].mean()),'%.2f'%(c1['sw'].mean()),'%.2f'%(c1['pl'].mean()),'%.2f'%(c1['pw'].mean()),c1.iloc[0,4])

c2 = iris[iris.flower_type=='Iris-virginica']
print('%.2f'%min(c2['sl']),'%.2f'%min(c2['sw']),'%.2f'%min(c2['pl']),'%.2f'%min(c2['pw']),c2.iloc[0,4])
print('%.2f'%max(c2['sl']),'%.2f'%max(c2['sw']),'%.2f'%max(c2['pl']),'%.2f'%max(c2['pw']),c2.iloc[0,4])
print('%.2f'%(c2['sl'].mean()),'%.2f'%(c2['sw'].mean()),'%.2f'%(c2['pl'].mean()),'%.2f'%(c2['pw'].mean()),c2.iloc[0,4])

4.30 2.30 1.00 0.10 Iris-setosa
5.80 4.40 1.90 0.60 Iris-setosa
5.00 3.42 1.47 0.24 Iris-setosa
4.90 2.00 3.00 1.00 Iris-versicolor
7.00 3.40 5.10 1.80 Iris-versicolor
5.94 2.77 4.26 1.33 Iris-versicolor
4.90 2.20 4.50 1.40 Iris-virginica
7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

manipulating data

In [86]:
iris.index

RangeIndex(start=0, stop=149, step=1)

In [87]:
df.reset_index(). #resets indices

    index   sl   sw   pl   pw     flower_type
0      99  6.3  3.3  6.0  2.5  Iris-virginica
1     100  5.8  2.7  5.1  1.9  Iris-virginica
2     101  7.1  3.0  5.9  2.1  Iris-virginica
3     102  6.3  2.9  5.6  1.8  Iris-virginica
4     103  6.5  3.0  5.8  2.2  Iris-virginica
5     104  7.6  3.0  6.6  2.1  Iris-virginica
6     105  4.9  2.5  4.5  1.7  Iris-virginica
7     106  7.3  2.9  6.3  1.8  Iris-virginica
8     107  6.7  2.5  5.8  1.8  Iris-virginica
9     108  7.2  3.6  6.1  2.5  Iris-virginica
10    109  6.5  3.2  5.1  2.0  Iris-virginica
11    110  6.4  2.7  5.3  1.9  Iris-virginica
12    111  6.8  3.0  5.5  2.1  Iris-virginica
13    112  5.7  2.5  5.0  2.0  Iris-virginica
14    113  5.8  2.8  5.1  2.4  Iris-virginica
15    114  6.4  3.2  5.3  2.3  Iris-virginica
16    115  6.5  3.0  5.5  1.8  Iris-virginica
17    116  7.7  3.8  6.7  2.2  Iris-virginica
18    117  7.7  2.6  6.9  2.3  Iris-virginica
19    118  6.0  2.2  5.0  1.5  Iris-virginica
20    119  6.9  3.2  5.7  2.3  Iris-virginica
21    120  5.6  2.8  4.9  2.0  Iris-virginica
22    121  7.7  2.8  6.7  2.0  Iris-virginica
23    122  6.3  2.7  4.9  1.8  Iris-virginica
24    123  6.7  3.3  5.7  2.1  Iris-virginica
25    124  7.2  3.2  6.0  1.8  Iris-virginica
26    125  6.2  2.8  4.8  1.8  Iris-virginica
27    126  6.1  3.0  4.9  1.8  Iris-virginica
28    127  6.4  2.8  5.6  2.1  Iris-virginica
29    128  7.2  3.0  5.8  1.6  Iris-virginica
30    129  7.4  2.8  6.1  1.9  Iris-virginica
31    130  7.9  3.8  6.4  2.0  Iris-virginica
32    131  6.4  2.8  5.6  2.2  Iris-virginica
33    132  6.3  2.8  5.1  1.5  Iris-virginica
34    133  6.1  2.6  5.6  1.4  Iris-virginica
35    134  7.7  3.0  6.1  2.3  Iris-virginica
36    135  6.3  3.4  5.6  2.4  Iris-virginica
37    136  6.4  3.1  5.5  1.8  Iris-virginica
38    137  6.0  3.0  4.8  1.8  Iris-virginica
39    138  6.9  3.1  5.4  2.1  Iris-virginica
40    139  6.7  3.1  5.6  2.4  Iris-virginica
41    140  6.9  3.1  5.1  2.3  Iris-virginica
42    141  5.8  2.7  5.1  1.9  Iris-virginica
43    142  6.8  3.2  5.9  2.3  Iris-virginica
44    143  6.7  3.3  5.7  2.5  Iris-virginica
45    144  6.7  3.0  5.2  2.3  Iris-virginica
46    145  6.3  2.5  5.0  1.9  Iris-virginica
47    146  6.5  3.0  5.2  2.0  Iris-virginica
48    147  6.2  3.4  5.4  2.3  Iris-virginica

we end up with old indices values, we can use drop=True, again we need to use inplace

In [90]:
df.reset_index(drop=True, inplace=True)
df.index

RangeIndex(start=0, stop=49, step=1)

In [92]:
df.drop('sl',axis=1,inplace=True) #axis seareches for column, inplace for changes to reflect

In [93]:
df.describe

<bound method NDFrame.describe of      sw   pl   pw     flower_type
0   3.3  6.0  2.5  Iris-virginica
1   2.7  5.1  1.9  Iris-virginica
2   3.0  5.9  2.1  Iris-virginica
3   2.9  5.6  1.8  Iris-virginica
4   3.0  5.8  2.2  Iris-virginica
5   3.0  6.6  2.1  Iris-virginica
6   2.5  4.5  1.7  Iris-virginica
7   2.9  6.3  1.8  Iris-virginica
8   2.5  5.8  1.8  Iris-virginica
9   3.6  6.1  2.5  Iris-virginica
10  3.2  5.1  2.0  Iris-virginica
11  2.7  5.3  1.9  Iris-virginica
12  3.0  5.5  2.1  Iris-virginica
13  2.5  5.0  2.0  Iris-virginica
14  2.8  5.1  2.4  Iris-virginica
15  3.2  5.3  2.3  Iris-virginica
16  3.0  5.5  1.8  Iris-virginica
17  3.8  6.7  2.2  Iris-virginica
18  2.6  6.9  2.3  Iris-virginica
19  2.2  5.0  1.5  Iris-virginica
20  3.2  5.7  2.3  Iris-virginica
21  2.8  4.9  2.0  Iris-virginica
22  2.8  6.7  2.0  Iris-virginica
23  2.7  4.9  1.8  Iris-virginica
24  3.3  5.7  2.1  Iris-virginica
25  3.2  6.0  1.8  Iris-virginica
26  2.8  4.8  1.8  Iris-virginica
27  3.0  4.9  1.8  Iris-virginica
28  2.8  5.6  2.1  Iris-virginica
29  3.0  5.8  1.6  Iris-virginica
30  2.8  6.1  1.9  Iris-virginica
31  3.8  6.4  2.0  Iris-virginica
32  2.8  5.6  2.2  Iris-virginica
33  2.8  5.1  1.5  Iris-virginica
34  2.6  5.6  1.4  Iris-virginica
35  3.0  6.1  2.3  Iris-virginica
36  3.4  5.6  2.4  Iris-virginica
37  3.1  5.5  1.8  Iris-virginica
38  3.0  4.8  1.8  Iris-virginica
39  3.1  5.4  2.1  Iris-virginica
40  3.1  5.6  2.4  Iris-virginica
41  3.1  5.1  2.3  Iris-virginica
42  2.7  5.1  1.9  Iris-virginica
43  3.2  5.9  2.3  Iris-virginica
44  3.3  5.7  2.5  Iris-virginica
45  3.0  5.2  2.3  Iris-virginica
46  2.5  5.0  1.9  Iris-virginica
47  3.0  5.2  2.0  Iris-virginica
48  3.4  5.4  2.3  Iris-virginica>

In [94]:
del df['sw']

In [95]:
df.describe

<bound method NDFrame.describe of      pl   pw     flower_type
0   6.0  2.5  Iris-virginica
1   5.1  1.9  Iris-virginica
2   5.9  2.1  Iris-virginica
3   5.6  1.8  Iris-virginica
4   5.8  2.2  Iris-virginica
5   6.6  2.1  Iris-virginica
6   4.5  1.7  Iris-virginica
7   6.3  1.8  Iris-virginica
8   5.8  1.8  Iris-virginica
9   6.1  2.5  Iris-virginica
10  5.1  2.0  Iris-virginica
11  5.3  1.9  Iris-virginica
12  5.5  2.1  Iris-virginica
13  5.0  2.0  Iris-virginica
14  5.1  2.4  Iris-virginica
15  5.3  2.3  Iris-virginica
16  5.5  1.8  Iris-virginica
17  6.7  2.2  Iris-virginica
18  6.9  2.3  Iris-virginica
19  5.0  1.5  Iris-virginica
20  5.7  2.3  Iris-virginica
21  4.9  2.0  Iris-virginica
22  6.7  2.0  Iris-virginica
23  4.9  1.8  Iris-virginica
24  5.7  2.1  Iris-virginica
25  6.0  1.8  Iris-virginica
26  4.8  1.8  Iris-virginica
27  4.9  1.8  Iris-virginica
28  5.6  2.1  Iris-virginica
29  5.8  1.6  Iris-virginica
30  6.1  1.9  Iris-virginica
31  6.4  2.0  Iris-virginica
32  5.6  2.2  Iris-virginica
33  5.1  1.5  Iris-virginica
34  5.6  1.4  Iris-virginica
35  6.1  2.3  Iris-virginica
36  5.6  2.4  Iris-virginica
37  5.5  1.8  Iris-virginica
38  4.8  1.8  Iris-virginica
39  5.4  2.1  Iris-virginica
40  5.6  2.4  Iris-virginica
41  5.1  2.3  Iris-virginica
42  5.1  1.9  Iris-virginica
43  5.9  2.3  Iris-virginica
44  5.7  2.5  Iris-virginica
45  5.2  2.3  Iris-virginica
46  5.0  1.9  Iris-virginica
47  5.2  2.0  Iris-virginica
48  5.4  2.3  Iris-virginica>

In [96]:
df=iris.copy()

In [97]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [98]:
df["diff_pl_pw"]=df["pl"]-df["pw"]
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  4.6  3.1  1.5  0.2  Iris-setosa         1.3
3  5.0  3.6  1.4  0.2  Iris-setosa         1.2
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3

working with NAN

In [103]:
df.iloc[2:4,1:3]=np.nan
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  4.6  NaN  NaN  0.0  Iris-setosa         1.3
3  5.0  NaN  NaN  0.0  Iris-setosa         1.2
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3

In [104]:
df.describe(). # doesnot count NAN

               sl          sw          pl          pw  diff_pl_pw
count  149.000000  147.000000  147.000000  149.000000  149.000000
mean     5.848322    3.046939    3.806122    1.202685    2.569128
std      0.828594    0.434048    1.750351    0.765201    1.047707
min      4.300000    2.000000    1.000000    0.000000    0.800000
25%      5.100000    2.800000    1.600000    0.300000    1.400000
50%      5.800000    3.000000    4.400000    1.300000    2.900000
75%      6.400000    3.300000    5.100000    1.800000    3.300000
max      7.900000    4.400000    6.900000    2.500000    4.700000

In [105]:
df.dropna(inplace=True)
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3
5  4.6  3.4  1.4  0.3  Iris-setosa         1.1
6  5.0  3.4  1.5  0.2  Iris-setosa         1.3

In [106]:
df.reset_index(drop=True, inplace=True)

In [108]:
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  5.4  3.9  1.7  0.4  Iris-setosa         1.3
3  4.6  3.4  1.4  0.3  Iris-setosa         1.1
4  5.0  3.4  1.5  0.2  Iris-setosa         1.3

we sometimes add or augment the data with the mean of the columns

In [109]:
df.iloc[2:4,1:3]=np.nan
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  5.4  NaN  NaN  0.4  Iris-setosa         1.3
3  4.6  NaN  NaN  0.3  Iris-setosa         1.1
4  5.0  3.4  1.5  0.2  Iris-setosa         1.3